* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*Mobile*/
@media only screen and (max-width: 500px) {
    body {
        background-color: rgb(201, 170, 170);
    }
}

/*Tablet*/
@media only screen and (min-width: 501px) and (max-width: 960px) {
    body {
        background-color: rgb(172, 173, 173);
    }
}

/*Desktop*/
@media only screen and (min-width: 961px) {
    body {
        background-color: #ebe6ea;
    }
}

/*css index*/
.navbar {
    background-color: #816161;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23273a2d' fill-opacity='0.11'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-link {
    color: rgb(122, 106, 101);
}

.nav-link:hover {
    color: #FA5737;
}


.logoHeader {
    width: 70px;
    height: 70px;
}

.formIndex {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;

}

.formBuscar {
    font-size: 20px;
    padding: 3px;
    padding-left: 5px;
}


header div,
header nav,
header ul li {
    display: inline-block;
}

header div img {
    vertical-align: middle;
}


.nav-item {
    color: #e4c5c4;
    text-decoration: none;
    font-size: 23px;
    padding: 10px;
    margin-left: 120px;
}

.colorBienvenidos {
    text-decoration: underline;
    color: rgb(168, 116, 70);
}

.colorH1 {
    text-decoration: underline;
    color: rgb(245, 199, 160);
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 5px solid rgb(122, 106, 101);
    font-size: 50px;
}

.fondoMain {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(122, 106, 101);
    padding: 20px;
}

.logoIg {
    width: 30px;
    height: 30px;
}

.logoWpp {
    width: 30px;
    height: 30px;
}

.copyrightCentro {
    text-align: center;
}

.position-sticky {
    position: sticky;
    top: 0%;
    z-index: 100;
}

.footerIndex {
    position: relative;
    left: 20px;
    padding: 10px;
    margin: 30px;
}

/*Grids*/
.gridContainer {
    display: grid;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: repeat(3, 200fr);
}

/*
.grid-item{
    border: 1px solid black;
}*/

.first-item {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

img {
    width: 100%;
    height: 100%;
}

.uno {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.cuatro {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.parrafoUno {
    font-size: 90px;
    color: wheat
}

.subTitulo {
    font-size: 30px;
    padding: 30px;
    margin: 20px;
    border: 5px solid #FA5737;
    grid-column: 2;
    grid-row: 5;
}

.gridFooteruno {
    display: grid;
    grid-template-rows: 50px 50px 50px 100px;
    grid-template-columns: repeat(2, 150px);
}

.footerUno {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-size: 30px;
}

.footerDos {
    grid-column: 1 / 2;
    grid-row: 3;
    font-size: 25px;
}

.footerTres {
    grid-column: 3;
    grid-row: 2;
}

.footerCuatro {
    grid-column: 3;
    grid-row: 3;
}


.footerCinco {
    grid-column: 5;
    grid-row: 2;
}

.footerSeis {
    grid-column: 5;
    grid-row: 1;
}

.footerSiete {
    grid-column: 3;
    grid-row: 1;
}


/*css nosotros*/
.quienesSomos {

    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.objetivoColor {

    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

/*css productos*/
.productosCentro {
    text-align: center;
    text-decoration: underline;
    padding: 10px;
}

.remeraCentro {
    text-align: center;
    background-color: #273a2d;
    padding: 10px;
    color: #e4c5c4;
    border-radius: 15px;
    margin: 5px;
    border: 200px;
    position: relative;
}

.buzoCentro {
    text-align: center;
    background-color: #273a2d;
    padding: 10px;
    color: #e4c5c4;
    border-radius: 15px;
    margin: 5px;
    border: 200px;
    position: relative;
}


.remerasBlondes {
    width: 200px;
    height: 400px;
}

.buzoBlondes {
    width: 200px;
    height: 200px;
}

.remeras {
    width: 200px;
    border: 1px solid #6f7357;
    border-radius: 15px;
    background-color: #c8ad8d;
    color: #273a2d;
    text-align: center;
    margin: 10px;
    border: 10px;
    position: relative;
}

.buzos {
    width: 200px;
    border: 1px solid #6f7357;
    border-radius: 15px;
    background-color: #c8ad8d;
    color: #273a2d;
    text-align: center;
    margin: 15px;
    border: 15px;
}

.position-absolute {
    position: absolute;
    bottom: 50px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*css ubicanos*/
.fondoUbicanos{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(122, 106, 101);
    padding: 20px;
}

#dondeEstamos {
    padding: 15px;
    color: wheat;
    text-decoration: underline;
}


/*css contacto*/
#contacto {
    color: brown;
}

.logoEnviar {
    width: 20px;
    height: 20px;
}


.redesSociales {
    text-align: center;
}

.position-fixed {
    position: fixed;
    bottom: 15px;
    right: 15px;

}